.response-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .response-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 250, 250, 0.4);
    color: black;
  }


#top {
    margin: 2rem;
}

