
.rsvpButton {
    font-family: 'Bacasime Antique', sans-serif;
    outline: none;
    background-color: rgba(143, 109, 100, 0.671);
    color: white;
    border: 2px solid white;
}

.rsvpButton:hover {
 filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));
 outline: none;
}