body {
  font-family: 'Bacasime Antique', sans-serif;
}

#warning {
  background-color: rgb(255, 255, 255, 0.6); 
  margin: 5rem; 
}
  
  .details-container {
    margin-top: 70px; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Bacasime Antique', sans-serif;
    
  }

  .left-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .bubble {
    background-color: rgba(255, 255, 255, 0.274); 
    border-radius: 15px;
    padding: 30px; 
    width: 19rem; 
    box-sizing: border-box; 
    color: rgb(0, 0, 0, 0.8);
    margin: 2rem 0;
    border: 2px solid white;
  }

  .bubble > p {
    text-align: start;
    padding: 0.2rem;
  }
  

  .details-heading {
    font-size: 2.5rem; 
    color: rgb(255, 255, 255);
  }

  .mapContainer {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 2rem;
    height: 50vh;
    align-self: center;

  }

 
 

  @media only screen and (min-width:480px) and (max-width:899px) {

    .bubble {
        width: 80vw;
    }

    .details-heading{
      width: 30rem; 
      font-size: 2em;
      color: rgb(0, 0, 0, 0.5);
    }

  }



/* Desktop  */
@media only screen and (min-width:900px) {

  .details-container{
    flex-direction: row;
    gap: 2rem;
    margin-top: -5rem;
  }

    .bubble {
        width: 30vw;
        background-color: rgba(255, 255, 255, 0.336); 
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .bubble > p {
      padding: 0.5rem;
      font-size: large;
      text-align: start;
    }

    .details-heading {
      width: 26vw; 
      font-size: 3.5rem;
      color: rgb(0, 0, 0, 0.5);

    }

    .mapContainer {
      width: 45rem;
      height: 55vh;
      margin-top: 0;
    }
}