body {
    display: flex;
    text-align: center;
    background-image: url("../../src/assets/bg.jpg");
    min-width: 100vw;
    min-height:100vh;
    background-size :cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bacasime Antique', sans-serif;

}

.homeHeading {
    margin-bottom: 1rem;
    font-family: 'Bacasime Antique', sans-serif;
    padding: 0 1rem;

    
}

.homeHeading >h1 {
    color: rgb(0, 0, 0, 0.5);
}

.details {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.6);
}

 @media only screen and (min-width:900px) {
    #names {
            font-size: 5rem;
    }
}
h2 {
     font-family: 'Bacasime Antique', sans-serif;
}