@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

 body {
    display: flex;
    text-align: center;
    background-image: url("../../src/assets/bg.jpg");
    min-width: 100vw;
    min-height:100vh;
    background-size :cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(0, 0, 0, 0.5);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(194, 146, 137, 0.8);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 2rem; 
}

button:hover {
  background-color:rgb(194, 146, 137, 0.5);
  color:white; 
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button.is-link {
  background-color: rgb(194, 146, 137, 0.8);
  color: black;
}

.button.is-link:hover {
  background-color: rgb(194, 146, 137, 0.5);
}



