.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  background-color: rgb(192, 165, 160);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  border-bottom: 2px solid white;
  z-index: 2;
}

.navbar-logo {
  width: 150px; 
  padding: none;
}

.navbar-toggle {
  display: none; 
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right:1rem;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #ffffff; 
}
.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
    z-index: 2;
}


.navbarItem {
  margin-right: 1.1rem; 
  text-decoration: none;
  color: #ffffff;  
  font-family: 'Bacasime Antique', sans-serif;
}

.navbarItem:hover {
 filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));
 color: white;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;  
    flex-direction: column;
    background-color:rgb(192, 165, 160);
    position: absolute;
    top: 60px;  
    right: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;  
    color: black;

  }

  .navbar-menu.is-active {
    display: flex;  
    justify-content: flex-end;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    align-items: flex-end;
  }

  .navbar-toggle {
    display: block;  
  }

  .navbar-end {
    background-color: rgb(192, 165, 160);
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 1rem 0;
  }

  .navbarItem {
    padding: 0.5rem, 0;
  }
}
