body {
    height: fit-content;
    font-family: 'Bacasime Antique', sans-serif;
}

.updateHeading{
    font-family: 'Bacasime Antique', sans-serif;
    font-size: 3.5rem;
    margin: 2rem;
}

.updateContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#form-section {
    background-color: rgb(255, 255, 255, 0.4);
    margin:1.5rem;
    padding: 1rem; 
    border-radius: 10px;
    width: 90%;
}

.enter {
    margin-top: 4rem; 
    width: 80vw;
    align-self: center;
    border: none;
}

.checkbox {
    margin: 0.5rem;
}

h2 {
    font-family: 10rem;  
}

.ed {
    margin:2rem; 
    font-size: 1.5rem;
}

label {
    margin: 0.5rem;  
}

div.inputs {
    margin: 0.5rem;
    font-family: 'Bacasime Antique', sans-serif;
    padding: 0.2rem;
}

textarea {
    width: 89%;
}
 
input {
    line-height: 1.5rem;
}

#thankyou {
    background-color: rgb(255, 255, 255, 0.6);
    margin: 1rem; 
    color: black; 
    padding: 1rem;
    border-radius: 15px;
}

label {
    color: black;
}

#error-message {
    background-color: rgb(223, 187, 187, 0.8);
    border-radius: 5px;
    padding: 1rem;
}

.updateButton {
    font-family: 'Bacasime Antique', sans-serif;
    outline: none;
    background-color: rgb(192, 165, 160);
    color: white;
    border: 2px solid white;
}

.field2 {
    padding: 0.3rem;
    font-size: large;
}

    .updateForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.forgot {
    font-family: 'Bacasime Antique', sans-serif;
    background-color: rgba(0, 0, 0, 0.63);
}

@media only screen and (min-width:900px) {

    .updateContainer{
        justify-content: center;
        margin-top: -10rem;
    }

#form-section {
    width: 40vw;
}

input {
    width: 15rem;
}

.checkboxStyle {
    width: auto;
}

.field {
    align-items: center;
}

.ed {
    font-size: 2.5rem;
}

.forgot {
    color: black;
    background-color: rgba(255, 255, 255, 0.651);
    width: fit-content;
    align-self: center;
}
 
}