#welcome {
    margin-bottom: 2rem; 
    font-family: 'Bacasime Antique', sans-serif;
    font-size: 3rem;
}

#space {
    margin-top: 10rem; 
}

.pincode {
    font-family: 'Bacasime Antique', sans-serif;
    color: rgb(255, 255, 255);
}


@media only screen and (min-width:900px) {

    #welcome {
        font-size: 4.5rem;
    }
}